.landing {
    background-size: cover;
    background-color: black;
    background-position: center  ;
    height: 45vh;
    width: 100%
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;
}


.logo {
    color: white;
    font-size: 45px;
    letter-spacing: 1px;
    cursor: pointer;
}
 
nav ul li{
    display: inline-block;
    padding:10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: darkred;
    transition: 0ms;
}

.btn-call-to-action{
    background-color: darkred;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    float: inline-end;
}
.btn-call-to-action:hover{
    transform: scale(1.2);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 55px;}
span{
        color: darkred;
    }

h3{
    color: crimson;
    font-size: 25px;
    margin-bottom: 50px;
}

#Projects {
    background-color: darkgray;
    height: auto;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;

}
#Projects .project-intro{
    margin-top: 20px;
    flex-direction: column;
    background-color: gray;
    
}

.Project-list{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-wrap: wrap;
    margin:20px;
}

.Project-list{
    margin: 10px;
    padding: 5px 20px;
    color: crimson;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.5px;

}
.Project-list li {
    margin: 10px;
    padding: 5px 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.entire-about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: blueviolet;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.button09 {
    background-color: darkred;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}
.button:hover {
    background-color: transparent;
    border: 2px solid darkred;
    cursor: pointer;
}
.item-mine {
    width: 65%;
}